# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
*.log
.env
.env.*

# node
node_modules/

# Dart/Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
.pub-cache/
.pub/

# OS
.DS_Store
Thumbs.db
*.tmp
*.swp

# IDE
.vscode/
*.suo
*.user

# Docker
*.log*

# Terraform
.terraform/
# *.tfstate*
# *.tfvars
.terraform.lock.hcl
